<br>
<div class="jumbotron">
  <div class="container">
    <h1>Blocipedia</h1>
    <p>Blocipedia is a great way to share information!</p>
    <p>
      <% if current_user %>
        Hello <%= current_user.name %><br>
        <% if current_user.role == "premium" %>
          <%= link_to "Downgrade Account", charge_path(current_user), class: "btn btn-danger btn-sm", method: :patch, :onclick => "alert('Downgrade collected!')" %>
        <% else %>
          <%= link_to "Upgrade", new_charge_path, class: "btn btn-success btn-sm" %>
        <% end %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
      <% end %>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Create a new Wiki topic</h2>
      <p><%= link_to "Create", new_wiki_path, class: 'btn btn-primary' %></p>
    </div>
    <% if current_user %>
      <div class="col-md-6">
        <h2>Active Wiki's</h2
          <div class="media">
            <div class="media-body">
              <table class="table table-striped">
                <tbody>
                  <%= render partial: 'wiki', collection: @wikis %>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
