<div class="container">
  <h1><%= markdown_to_html @wiki.title %></h1>
  <% if policy(@wiki).edit? || @wiki.user.id == current_user.id %>
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'btn btn-success' %>
    <%= link_to "Delete", @wiki, method: :delete, class: 'btn btn-danger' %>
  <% end %>
  <p><%= markdown_to_html @wiki.body %></p>
  <h4>Comments</h4>
    <div class="media">
      <div class="media-body">
        <table class="table table-striped">
          <tbody class="comment-table">
            <%= render partial: 'comments/comment', collection: @comments %>
        </tbody>
      </table>
    </div>
  </div>
  </div>
  <% array = [] %>
  <% @wiki.collaborators.each do |collaborator| %>
    <% u_id = collaborator.user_id %>
    <% array << u_id %>
  <% end %>
    <% if current_user.admin? || array.include?(current_user.id) %>
    <div style="background-color: #EFF0F1; padding-top: 50px; padding-bottom: 20px;">
      <div class="container">
        <%= render partial: 'comments/form' %>
      </div>
    </div>
    <% end %>
<div class="container">
  <% @wiki.collaborators.each do |collab| %>
    <span><%= collab.user.name %></span>
    <br/>
  <% end %>


  <h3>Add Collaborators </h3>
    <%= form_for [@wiki, @collaborator] do |f| %>
      <% if @collaborator.errors.any? %>
       <div class="alert alert-danger">
         <h4>There are <%= pluralize(@collaborator.errors.count, "error") %>.</h4>
         <ul>
           <% @collaborator.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
         </ul>
       </div>
       <% elsif @collaborator.save %>
        <div class="alert alert-success">
          <h4>Your Collaborator has been added.</h4>
        </div>
      <% end %>

      <%= form_group_tag(@collaborator.errors[:email]) do %>
        <%= f.label "email" %>
        <%= text_field_tag "email", nil, class: 'form-control', placeholder: "Collaborator's email" %>
      <% end %>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
      </div>
    <% end %>
</div>
